---
- name: restart salome-fastapi
  systemd:
    name: salome-fastapi
    state: restarted
    daemon_reload: yes
  become: yes

- name: reload nginx
  systemd:
    name: nginx
    state: reloaded
  become: yes
