[Unit]
Description={{ app_description | default(app_name + ' FastAPI Service') }}
After=network.target

[Service]
Type=simple
User={{ app_user }}
Group={{ app_user }}
WorkingDirectory={{ app_base_dir }}/{{ app_name }}
Environment="PATH={{ app_base_dir }}/{{ app_name }}/.venv/bin"
EnvironmentFile={{ app_base_dir }}/{{ app_name }}/.env
ExecStart={{ app_base_dir }}/{{ app_name }}/.venv/bin/uvicorn {{ app_entry_point }} --host {{ app_host }} --port {{ app_port }} --workers {{ app_workers }}
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
