GOOGLE_GENAI_USE_VERTEXAI=FALSE
GOOGLE_API_KEY={{ vault_google_api_key | default('PASTE_YOUR_ACTUAL_API_KEY_HERE') }}
OPENROUTER_API_KEY={{ vault_openrouter_api_key | default('PASTE_YOUR_ACTUAL_API_KEY_HERE') }}
FRONT_SERVER_URL=https://mek-lab.com
LLM_SERVER_URL=http://localhost:8002
SALOME_SERVER_URL=https://salome.mek-lab.com
GEO_SERVER_URL=http://localhost:8001
DATABASE_URL={{ vault_backend_database_url }}
SECRET_KEY={{ vault_backend_secret_key }}
LLM_API_SECRET_KEY={{ vault_internal_api_key }}
SENDGRID_API_KEY={{ vault_sendgrid_api_key }}
SENDGRID_FROM_EMAIL={{ vault_sendgrid_from_email }}
POSTMARK_API_KEY={{ vault_postmark_api_key }}
POSTMARK_SENDER=Meklab
POSTMARK_SERVER_ID=17879776
POSTMARK_FROM_EMAIL=contact@mek-lab.com
POSTMARK_SIGNUP_TEMPLATE_ID=43149087
POSTMARK_FORGET_PW_TEMPLATE_ID=43148701
