
# Production Environment Variables
ENV=production

# Salome Meca binary path (server path)
# Using the symlink so PATH includes salome command
SALOME_BIN=/home/{{ salome_user }}/salome

JOBS_DIR=jobs

JOB_SCRIPTS_DIR=/home/{{ salome_user }}/opt/MEK_LAB_SALOME/job_scripts

JOB_OUTPUTS_DIR=/home/{{ salome_user }}/opt/MEK_LAB_SALOME/job_outputs

# Bundle directory (server path)
BUNDLE_DIR=/home/{{ salome_user }}/opt/MEK_LAB_SALOME/bundles

# Project root (required)
PROJECT_ROOT=/home/{{ salome_user }}/opt/MEK_LAB_SALOME
