---
# Default variables for nginx role (Backend defaults)
nginx_server_name: "api.mek-lab.com"
nginx_client_max_body_size: "500M"
nginx_template: "backend-nginx.conf.j2"
nginx_config_name: "mek-lab.conf"
