apiVersion: 1

datasources:
  - name: Prometheus
    type: prometheus
    access: proxy
    url: "{{ grafana_datasource_prometheus_url | default('http://' + prometheus_server + ':9090') }}"
    isDefault: true
    editable: true

  - name: Loki
    type: loki
    access: proxy
    url: "{{ grafana_datasource_loki_url | default('http://' + loki_server + ':3100') }}"
    editable: true

  - name: Alertmanager
    type: alertmanager
    access: proxy
    url: "{{ grafana_datasource_alertmanager_url | default('http://' + prometheus_server + ':9093') }}"
    jsonData:
      implementation: prometheus
    editable: true
