[Unit]
Description=MEK-LAB-BACKEND FastAPI Service
After=network.target

[Service]
Type=simple
User=mateen_fastians
Group=mateen_fastians
WorkingDirectory=/home/mateen_fastians/.apps/MEK_LAB_BACKEND

Environment="PATH=/home/mateen_fastians/.apps/MEK_LAB_BACKEND/.venv/bin"
EnvironmentFile=/home/mateen_fastians/.apps/MEK_LAB_BACKEND/.env

ExecStart=/home/mateen_fastians/.apps/MEK_LAB_BACKEND/.venv/bin/uvicorn app.main:app --host 0.0.0.0 --port 8000

Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
