[Unit]
Description=MEK-LAB LLM Agent FastAPI Service
After=network.target

[Service]
Type=simple
User=mateen_fastians
Group=mateen_fastians
WorkingDirectory=/home/mateen_fastians/.apps/MEK_LAB_LLM_AGENT

Environment="PATH=/home/mateen_fastians/.apps/MEK_LAB_LLM_AGENT/.venv/bin"
EnvironmentFile=/home/mateen_fastians/.apps/MEK_LAB_LLM_AGENT/.env

ExecStart=/home/mateen_fastians/.apps/MEK_LAB_LLM_AGENT/.venv/bin/uvicorn app.main:app --host 0.0.0.0 --port 8002

Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
