[Unit]
Description={{ app_description }}
After=network.target

[Service]
Type=simple
User={{ app_user }}
Group={{ app_user }}
WorkingDirectory={{ app_base_dir }}/{{ app_name }}
Environment="PATH={{ app_base_dir }}/{{ app_name }}/.venv/bin"
EnvironmentFile={{ app_base_dir }}/{{ app_name }}/.env
ExecStart={{ app_base_dir }}/{{ app_name }}/run_uvicorn.sh
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
